 * { box-sizing: border-box; }
		   
nav { float: left;
	  width: 150px;
	  padding: 20px;} 
	  

nav a {text-decoration:none;
       font-size:20px;
       padding-left: 5px;
       padding-right: 5px;}
	   
nav a:link {color:#C9EEE1;}

nav a:visited {color:#E6E6FA;}

nav a:hover {background-color:#D7ECF4;
             color:#14337B;}
			 
main { margin-left: 165px;
	   padding: 20px;
       display: block;} 
	   
body {background-color:#C8EFDF;}

		
.floatright {float: right;
              margin-left: 20px;}
			  
.floatleft {float: left;
             margin-right: 20px;}
			 
.clearleft{clear:left;}
 
.clearright{clear:right;}
		
.link {text-decoration:none;}
dt a:link {color:#320618;}
dt a:visited {color:#180632;}
dt a:hover {color:#00005D;}

caption {font-family:Arial,sans-serif;
         padding:10px;
         font-size:25px;}	 

h2 {font-size:2em;}
		
#wrapper {background-color: #4A4A4A;}

@media only screen and (max-width: 1180px) {
   body { margin: 0; }
   #wrapper { width: auto; } 
   main { margin-left: 0; }
   nav { float: none; width: auto; }
   nav li { display: inline-block; padding: 0.5em; }
   nav ul { text-align: center; }
   nav a { border-style: none; }
}
@media only screen and (max-width: 860px) {
	 h1{font-size:100%;}
	 body { margin: 0; }
     #wrapper { width: auto; } 
     main { margin-left: 0; }
	 nav, nav ul, nav li { padding: 0;  }
	 nav li { display: block; } 
     nav a { display: block;  padding: 0.5em 0;
               border-bottom: 2px ridge #00005D;
             text-align:center; }	
}	 